# Ignore build directory
build/

# Ignore binary output directory
bin/

# Ignore compiled binary files
*.o
*.out
*.exe

# Ignore temporary files
*.tmp
*.swp
*.swo
*.bak
*.old

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled dynamic libraries
*.so
*.dylib
*.dll

# Ignore generated documentation
docs/

.vscode/